{% extends 'admin/genus/formLayout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Edit Genus</h1>
                
                {{ include('admin/genus/_form.html.twig') }}
                
                {# And by the way, if there were any customizations you needed to make between new and edit, I would pass a variable in through the second argument of the include function and use that to control the differences. #} 
                
            </div>
        </div>
    </div>
{% endblock %}