{{ form_start(userForm) }}
    {{ form_row(userForm.email) }}
    {{ form_row(userForm.roles) }}
    
    <button type="submit" class="btn btn-primary" formnovalidate >Save</button>
{{ form_end(userForm) }}